.navigation {
    &_checkbox {
        display: none;


    }

    
    &_button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;


    }
    &_background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;

       
       


    }
    &_nav {

    }
    &_list {

    }
    &_item {

    }
    &_link {

    }

}