@import '../../node_modules/open-color/open-color.scss';
.navigation {
    &_checkbox {
        display: none;


    }

    
    &_button {
        background-color: $oc-teal-7;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        // z-index: 2000;


    }
    &_background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($oc-teal-2, $oc-teal-7);
        z-index: 1000;
        transform: scale(50);

       
       


    }
    &_nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        

    }
    &_list {
       list-style: none;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, - 50%);
       text-align: center;

    }
    &_item {
        margin: 1rem;

    }
    &_link {
        text-decoration: none;
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $oc-white;


    }

}