.story {
  margin: 0 auto;
  width: 75%;
  padding: 6rem;
  padding-bottom: 11rem;
  // padding-left: 9rem;
  border-radius: 3px;
  line-height: 1.7;
  // font-size: $default-font-size;
  font-size: $default-font-size;
  background-color: rgba($color-white,.6);
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  &-shape {
    width: 15rem;
    height: 15rem;

    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    float: left;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50 at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    // -webkit-clip-path: circle()

    position: relative;
  }
  &-image {
    // background-size: cover;
    transform: translateX(-4rem) scale(1.4);
    height: 100%;
    backface-visibility: hidden;
    transition: all .3s;
  }
  &-text {
    transform: skewX(12deg);
    font-weight: 400;
  }
  &-caption {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover &-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
 
}
